{include file="public/header" /}

<script src="/static/qrcode/qrcode.js"></script>

<script src="/static/farbtastic/js/farbtastic.js"></script>
<link rel="stylesheet" href="/static/farbtastic/css/farbtastic.css">

<style>


    .layui-col-md3{
        height: 200px;
    }

    .btn-div{
        position:absolute;
        left:50%;
        top:50%;
        margin: 0 auto;
        margin-left: -100px;
        margin-top: -50px;
    }

    .btn-Transformation{
        width: 200px;
        height: 100px;
    }

    .layui-row{
        margin-top: 80px;
    }

    .layui-input-block {
        margin-left: 0;
    }

    .color{
        float: left;
        width: 200px;
        height: 200px;
    }

</style>



<div class="layui-row">

    <div class="layui-col-md3 layui-col-md-offset1">
        <div class="layui-card">
            <div class="layui-card-header">输入要转换的文本</div>
            <div class="layui-card-body">

                <form class="layui-form">
                    <div class="layui-form-item layui-form-text">
                        <div class="layui-input-block">
                            <textarea name="desc" placeholder="请输入内容" class="layui-textarea"></textarea>
                        </div>
                    </div>

                </form>

            </div>
        </div>
    </div>

    <div class="layui-col-md3">
        <div class="btn-div">
            <button class="layui-btn layui-btn-fluid btn-Transformation">转换</button>
        </div>
    </div>

    <div class="layui-col-md3 layui-col-md-offset1">
        <div class="layui-card">
            <div class="layui-card-header">转换后的二维码</div>
            <div class="layui-card-body" id="qrcodeImg">

            </div>
        </div>
    </div>
</div>


<div>
    <p class="color colorDark"></p>
    <p class="color colorLight"></p>
</div>

<div id="colorpicker"></div>

<style>
    .colorDark{
        background-color: #43a4c3 ;
    }
    .colorLight{
        background-color: #d56666;
    }

</style>

<script>
    $().ready(function () {

        setTitle('js生成二维码');


        $('.layui-nav > .layui-nav-item').removeClass('layui-this');
        $('.layui-nav > .layui-nav-item:eq(1)').addClass('layui-this');

        $('#colorpicker').farbtastic('.colorDark');
        $('#colorpicker').farbtastic('.colorLight');


        $('.btn-Transformation').click(function () {

            var colorDark = rgb2hex($('.colorDark').css('background-color'));
            var colorLight = rgb2hex($('.colorLight').css('background-color'));

            // 检查是否有数据
            var text = $('.layui-textarea').val();

            if (text ==''){
                layer.msg('内容不能为空!');
                return false;
            }

            $('.qrcodeImg').empty();


            var qrcode = new QRCode('qrcodeImg', {
                width: 256,
                height: 256,
                colorDark : colorDark,
                colorLight : colorLight,
                correctLevel : QRCode.CorrectLevel.H
            });

            // 使用 API
            qrcode.clear();
            qrcode.makeCode(text);

        });


        $('.layui-textarea').val('yuanxu');
        $('.btn-Transformation').click();


        function rgb2hex(rgb) {
            rgb = rgb.match(/^rgb\((\d+),\s*(\d+),\s*(\d+)\)$/);
            function hex(x) {
                return ("0" + parseInt(x).toString(16)).slice(-2);
            }
            return "#" + hex(rgb[1]) + hex(rgb[2]) + hex(rgb[3]);
        }


    });
</script>
